/*catalogo*/

#catalogo div .img-fluid {
    max-height: 250px;
    margin: 0 auto;
}

#catalogo div h3 {
    font-size: 1.2rem;
}

#catalogo div h4 {
    font-size: 1rem;
}


/*filtros*/

#filtros>button:nth-of-type(1) {
    padding: 0 0 5px 0;
    border-bottom: 2px solid #004eff;
    border-radius: 0;
    display: block;
    width: 100%;
    text-align: left;
}

#catalogo h3,
#catalogo h4 {
    color: #4d7fb1;
}

.digestcare p {
    color: #01ad58;
}

.digestcare a {
    background-color: #01ad58;
    border-color: #01ad58;
}

.arthicare p {
    color: #f49d10;
}

.arthicare a {
    background-color: #f49d10;
    border-color: #f49d10;
}

.immuncare p {
    color: #69b743;
}

.immuncare a {
    background-color: #69b743;
    border-color: #69b743;
}

.sleepcare p {
    color: #107abc;
}

.sleepcare a {
    background-color: #107abc;
    border-color: #107abc;
}

.vigorcare p {
    color: #cb6856;
}

.vigorcare a {
    background-color: #cb6856;
    border-color: #cb6856;
}

.vitalcare p {
    color: #eb8400;
}

.vitalcare a {
    background-color: #eb8400;
    border-color: #eb8400;
}


/*multiidioma*/

#lang {
    background: #343a40;
    color: #fff;
    border: 0;
}